@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'ToshibaSat';
    src: url('/ToshibaSat_8x8.woff') format('woff');
}

@theme {
    --color-dark: #01040e;
    --color-light: #eff1e8;
    --color-accent: #efed6a;
    --color-background: var(--color-purple-500);
    --font-mono: 'ToshibaSat', monospace;
}

@layer base {
    body {
        @apply text-dark font-mono;
    }
}
